{
  "extends": "airbnb",
  "rules": {
    "no-param-reassign": 0,
    "new-cap": [
      "error", { "capIsNew": false }
    ],
    "import/no-extraneous-dependencies": [
      "error", { "devDependencies": ["test/**/*.js"] }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
