{
  "extends": "airbnb",
  "rules": {
    "no-param-reassign": 0,
    "import/no-extraneous-dependencies": [
      "error", {"devDependencies": ["test/**/*.js"]}
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
