{
  "extends": "airbnb",
  "rules": {
    "no-param-reassign": 0,
    "new-cap": [
      "error", { "capIsNew": false }
    ],
    "import/no-extraneous-dependencies": [
      "error", { "devDependencies": ["test/**/*.js"] }
    ],
    "comma-dangle": [
      "error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
