version: 2
jobs:
  build:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - run:
          name: Check Yarn Version
          command: yarn --version
      - run:
          name: Install and Link Packages
          command: yarn install
      - run:
          name: Run Tests and Typecheck
          command: yarn run check
      - run:
          name: Publish to Npm If Requested
          command: node scripts/publish.js